<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Boot - Curso</title>
</head>

<body>

  <h1>Lista de Empregos</h1>
  <a href="/add">Adicionar um novo emprego</a>

  <div th:each="empregos : ${empregos}">
    <h4 th:inline="text" >[[${empregos.titulo}]] na [[${empregos.empresa}]]</h4>
    <p th:text="${empregos.descricao}"></p>
    <a th:href="@{/delete} + '/' + ${empregos.id}">Deletar</a>
    <hr>
  </div>

</body>

</html>